:root {
    --darkblue:#00afef;
    --greylight:#5b5353;
    --blue:#135093;
    --orange-hover:#f58634;
    --lightblue:#1f64af08;
   
}

body{
	margin:0;
	padding:0;
}
ul{
	margin: 0px;
	padding:0px;
}
a{
	text-decoration: none;
	color:var(--darkblue);
}
a:hover{
	text-decoration: none;
	color:var(--orange-hover);
}
.h-bg-c-t {
   background: #fff;
    width: 100%;
    padding:1rem;
}
.sticky {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
   background: #fff;
    box-shadow: 0 -1px 8px;
}
.logo-top-left {
    width: 154px;
}
.logo-top-left img{
	width:100%;
	height:100%;
}
.menu-top-header ul li {
    display: inline-block;
    padding: 0px 17px;
}
.menu-top-header {
    padding-top: 22px;
}
.top-button-header {
    text-align: right;
    margin-top: 16px;
}
.top-button-header ul li {
    padding: 0;
    transition: 500ms;
    border: solid var(--darkblue) 2px;
    background: var(--darkblue);
    margin-top: 3px;
    margin-left: 10px;
}
.top-button-header ul li a {
    padding: 0 15px;
    color: white;
}
.top-button-header ul li:hover a {
    color: white;
}
/*.top-button-header ul li:last-child {
    background: #008df68a;
    color: white;
    border: solid 2px #75c1fa;
}
.top-button-header ul li:last-child:hover{
    border: solid 2px #008df6;
}*/
.top-button-header ul li:hover {
    background: var(--orange-hover);
    border-color: var(--orange-hover);
    color: white;
}

.menu-top-header ul li a {
    margin-top: 12px;
    font-family: sans-serif;
    font-weight: 700;
}
.active{
  color: var(--orange-hover);
 }
 .menu-top-header ul li a.active hr{
 	width:100%;
 }
.menu-top-header ul li a:hover{
 color:var(--orange-hover);
 transition: ease all;
}
.menu-top-header ul li hr {
    position: relative;
    height: 3px;
    top: 16px;
    background:var(--orange-hover);
    width: 0%;
    padding-left: 0px;
    margin-bottom: 0px;
    transition: width .1s ease-out;
}
.menu-top-header ul li :hover hr {
    width: 100%;
}
.carousel-item img{
	width:100%;
	height:370px;
	object-fit: cover;
}

.carousel-inner span i {
    background: var(--darkblue);
    color: white;
    opacity: 1;
    padding: 8px;
    padding-top: 0;
    padding-bottom: 0;
}
.carousel-inner span i:hover{
    background: var(--orange-hover);
    color: white;
    opacity: 1;
    padding: 8px;
    padding-top: 0;
    padding-bottom: 0;
}
/*.carousel-inner a :hover {
  background: var(--orange-hover);
    color: white;
    padding-bottom: 0px;
    padding-top: 0px;
}*/
.left {
    position: absolute;
    left:0px;
    top: 35%;
    color: #2394d4;
    font-size: 55px;
}
.right {
    position: absolute;
    right: 0px;
    top: 35%;
    color: #2394d4;
    font-size: 55px;
}
.carousel-control-prev {
    opacity: 1;
}
.carousel-control-next {
    opacity: 1;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    border: solid var(--darkblue);
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}
.carousel-indicators .active {
    background-color: var(--orange-hover);
    border: solid var(--orange-hover);
}
.form-mobildetalis{
	background:var(--lightblue);
}
.card-header-f h2 {
    text-transform: capitalize;
    color:var(--darkblue);
    font-size:32px;
    padding: 49px 0 7px;
    margin: 0;
    text-align: center;
}
.formp-body {
    /* padding: 32px; */
    padding: 22px 188px;
}
.formp-body label {
    float: left;
}
.form-controllrt {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-main-plan {
    margin-top: 50px;
    margin-bottom: 27px;
}
.button-main-plan button {
    width: 38%;
    text-align: center;
    margin: auto;
    border:none;
    transition: 300ms;
    background:var(--darkblue);
}
.button-main-plan button:hover{
    background:var(--orange-hover);
    border-color: var(--orange-hover);
}
.howdusitwork {
    background:var(--lightblue);
    padding-bottom: 33px;
}
.hedding-how {
    text-align: center;
    padding-top: 33px;
    padding-bottom: 34px;
}
.hedding-how h2 {
    font-size: 32px;
    text-transform:capitalize;
    color:var(--darkblue);
}
.iconlimg {
    width: 115px;
    margin: auto;
    margin-bottom: 17px;
}
.iconlimg img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.iconlimg p{
 text-align: center;
}
.faq-in {
   
    padding: 2rem;
    padding-bottom: 52px;
}
/*.faq-main-color-bg{
	background:#d6e8f7;
}*/
.hedding-faq{
	text-align: center;
}
.hedding-faq h2 {
    font-size: 32px;
    color: var(--darkblue);
    text-transform: capitalize;
}
#wrapper {
    /* width: 1000px; */
    margin: auto;
    margin-top: 42px;
}
.accordion-box {
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
    box-shadow: 0 1px 1px 1px #d0e0f7;
}
.accordion-box>* {
    padding: 10px 15px;
    background: #fdfeff;
    color: black;
    border: solid .1px #80808014;
    word-spacing: 2px;
    border-top: none;
    font-family: sans-serif;
    font-weight: 500;
    color:var(--greylight);
    text-align: justify;
}
.accordion-box>.acordi-in {
	margin: 0;
	background:var(--lightblue);
	color:var(--greylight);
	cursor: pointer;
}
.accordion-box .acordi-in span {
	float: right;
	transition: all ease 500ms;
}
.accordion-box.shown .acordi-in span {
	transform: rotate(90deg);
}
.accordion-content {
	display: none;
}
.accordion-box.shown .acordi-in{
	background:#f4f8ff;
}
.top-seling-brand {
    width: 100%;
    border-radius: 0;
    background: #fff;
    border: 1px solid #d8d8d8;
    padding: 0px 14px;
    border-right: none;
    border-bottom: none;
}
.main-phonsideimg {
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    height: 211px;
    padding: 38px 22px;
}
.img-phonbradleft{
	width:65px;
	float: left;
}
.img-phonbradleft img{
	width:100%;
	height:100%;
	object-fit: cover;
}
.img-content h4{ 
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:var(--greylight);
    margin-bottom: 5px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
}
.img-content {
    float: left;
    width: 73%;
    overflow: hidden;
    padding-left: 11px;
    padding-top: 28px;
}
.img-content p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #5b5353;
    margin-bottom: 5px;
    font-size: 16px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.img-content span {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color:var(--darkblue);
    display: block;
    min-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
}
.top-selling {
    text-align: center;
    padding: 3rem;
}
.top-selling h2 {
    font-size: 32px;
    color:var(--darkblue);
    text-transform: capitalize;
}
.testimonial {
    padding: 0;
    background:var(--lightblue);
    padding-bottom: 90px;
}
.main-testimonial-crd {
    width: 494px;
    box-shadow: 0 2px 5px;
    background: #008df638;
}
.left-side-img {
    float: left;
    height:212px;
}
.left-side-img img{
	width:100%;
	height:100%;
	object-fit: cover;
}
.cardtestim {
    max-width: 540px;
    margin-left: 15px;
    margin-right: 15px;
}


.card-footer-mainslder {
    background: #b1a9a933;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 13px;
}
.main-testimonial-crd{
  margin-left: 15px;
  margin-right: 15px;
}
.slick-prev {
    left: -25px;
}
.slick-next {
    right: -24px;
}
.slick-next:before, .slick-prev:before {
    font-size: 24px;
    color: #7ac2f7;
}
.slick-slide {
    outline: none;
}
.allbarand {
    padding: 1rem 0 5rem;
}
.prodecticon {
    width: 150px;
    height: 150px;
    border: solid black;
    margin-left: 15px;
    margin-right: 15px;
}
.prodecticon img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.hedding-allbred{
	text-align: center;
	padding: 3rem;
}
.hedding-allbred h2 {
    font-size: 32px;
    color:var(--darkblue);
    text-transform: capitalize;
}
.hedding-testimo {
    text-align: center;
    /* padding: 3rem; */
    /* padding: 52px 0; */
    padding-top: 54px;
    padding-bottom: 37px;
}
.hedding-testimo h2 {
    font-size: 35px;
    color:var(--darkblue);
    text-transform: capitalize;
}
.footer-bg-color{
	padding: 1rem;
	background:var(--lightblue);
}
.footer-menu ul li {
    display: inline-block;
    padding: 20px 18px;
}
.footer-menu{
	text-align: center;
}
.top-se-bg {
    padding-bottom: 91px;
}
.footer-control-pd hr {
    display: block;
    height: 46px;
    margin-top: 27px;
    border: 0;
    position: relative;
    margin-bottom: 24px;
}
.footer-control-pd hr:before, .footer-control-pd hr:after {
    content: '';
    display: block;
    position: absolute;
    background: #1f64af4f;
    height: 2px;
    top: 8px;
}
.footer-control-pd hr:before {
    left: 0;
    top: 25px;
    right: 55%;
    margin-right: 10px;
}
.footer-control-pd hr:after {
    right: 0;
    top: 25px;
    left: 55%;
    margin-left: 10px;
}
.social-icon-footer{
	text-align: center;
}
.social-icon-footer ul li {
    padding: 10px 15px;
    list-style: none;
    display: inline-block;
    padding-top: 0px;
    margin-top: 10px;
}
.social-icon-footer ul li:last-child{
	border-right:none; 
} 
.social-icon-footer ul li i {
    font-size: 24px;
}

.footer-control-pd h4 {
    text-align: center;
    font-size: 15px;
    color: #6e6c6c;
}
#back-top {
    display: none;
    right: 31px;
    bottom: 18px;
    position: fixed;
    text-align: center;
    border-radius: 50%;
    line-height:36px;
    border: 2px solid transparent;
    background: aliceblue;
    box-shadow: 0 1px 3px 0px;
}
#back-top a {
    text-decoration: none;
    color:var(--darkblue);
    padding: 12px;
    scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.maindetalist option{
	background: red;
}
.sidebar{
	display: none;
}

.overly-main {
    display: none;
}

.color-bars{
	color:blue;
}

.backcolo-about {
    width: 100%;
    background: #00afefb0;
    padding: 3rem;
    text-align: center;
    color:white;
}
.backcolo-about h1{
 font-size:49px;
}
.backcolo-about span{
    color:#e9e8e8;
}


.about-page a{
    color:white;
}
  .faq-page{
    margin-bottom: -9px;
    padding-bottom: 51px;
}
.faq-page a{
  color:white;
}
.contact{  
    background: #7dc5fa2b;
    padding-bottom: 51px;	
}
.contact a{
    color:white;
}
.about-page-con {
    padding: 3rem;
}
.about-page-con h2 {
    text-align: left;
    font-weight: 700;
    color: var(--darkblue);
    font-size: 28px;
    font-family: sans-serif;
}
.about-page-con p {
    text-align: justify;
    font-weight: 500;
    color: #696464;
    line-height: 32px;
}
.form-contact {
    width: 100%;
    margin-top: 51px;
    margin-bottom: 54px;
}
.form-innar-con {
    width: 100%;
    height: 552px;
}
.form-innar-con h3 {
    font-family: josefin sans,sans-serif;
    color:var(--darkblue);
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 29px;
}
.form-innar-con button{
 background: var(--darkblue);
 border:var(--darkblue);
}
.form-innar-con button:hover{
 background: var(--orange-hover);
 border:var(--orange-hover);
}
.form-innar-con input {
    outline: none;
}
.form-control:focus{
 box-shadow:none;
 ;
}
.form-input {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    width: 48%;
    padding-left: 18px;
    margin-top: 24px;
    font-size: 13px;
    float: left;
}
.form-input-r {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    float: right;
    margin-top: 24px;
    width: 48%;
    padding-left: 18px;
    font-size: 13px;
}
.form-control-form-sub {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    width: 100%;
    padding-left: 18px;
    margin-bottom: 29px;
    margin-top: 24px;
    font-size: 13px;
    float: left;
}
.form-innar-con textarea {
    border-radius: 0;
    height: 200px;
    outline: none;
    border: none;
    padding-left: 15px;
    padding-top: 7px;
}
.form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
}
.boxed-btn {
    padding: 12px 39px;
    margin-top: 42px;
    cursor: pointer;
    font-size: 20px;
}
.boxed-btn:focus {
    box-shadow:none;
}
.card-contect {
    padding: 3rem 37px;
    margin-top: 72px;
    background: white;
}
.card-contect ul li i{
  font-size:25px;
  color: var(--darkblue);
}
.card-contect ul li span{
  padding-left: 10px;
  font-size:19px;
}
.card-contect ul li p {
    padding-left: 37px;
}
.card-contect ul li{
  list-style: none;
}
.card-contect ul li span a{
  color:var(--darkblue);
}
.card-contect ul li span a:hover{
  color:var(--orange-hover);
}
.acordi-in p {
    padding: 0;
    margin: 0;
    width: calc(100% - 10px);
    color: var(--greylight);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
}
.display-teble-view{
	display:none;
}
.display-show-mobile{
	display: none;
}


/* width */
::-webkit-scrollbar {
  width:10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #75c1fa;
    background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkblue);
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background:rgb(140 149 157);
}*/

.my-cardtext{ 
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--greylight);
    text-align:justify;
}
.mybodybottom{
	position:absolute;
	bottom:24px;
}
.mytitle{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}
.privace-police-main ul{
  padding-left:25px;
  padding-bottom: 20px;
}
.privace-police-main {
    padding: 3rem;
}
.privace-police-main h2{
 text-align: left;
 font-weight:700;
 font-size:28px;
 font-family: sans-serif;
}
.privace-police-main p {
    text-align: justify;
    font-weight: 500;
    color: #696464;
    line-height: 32px;
}
.backcolo-plan{
    width: 100%;
}
.backcolo-plan a{ 
 color:white;
}
.plan-bg-color{
background: #7dc5fa2b;
padding:3rem 0;
}
.card-my-plan p {
    color: grey;
    text-align: center;
}
.card-my-plan span {
    color: #807070;
    font-weight: 700;
    font-size: 28px;
}
.card-my-plan h5 {
    font-size: 21px;
    text-align: center;
    color: #548fce;
}
.maybut-bay a{
	width:100%;
}
.my-be-li i {
    font-size: 22px;
    color: #05d005;
    font-weight: 700;
    padding-left: 14px;
    padding-right: 5px;
}
.my-be-li h4 {
    font-size: 16px;
}
.my-be-li span {
	display: flex;
}
.my-be-li li {
    list-style: none;
    border-bottom: solid 4px #d4dce1;
    padding: 8px 0;
}
.color-more {
    background: #f3ecec;
    padding: 5px 23px!important;
}
.arrow-dis i {
    transform: rotate(0deg);
}
.arro-active i {
    transform: rotate(180deg);
}
.color-more i{
	color: #786f6f;
    transition: all ease 500ms;
}
.hidden-more{
	display:none;
}
.arrow-right-more {
    float:right;
}
.color-more h4{
 float: left;
}
.show-moreblo{
    display:block;
}
.mycard-plan{
	box-shadow: 0 10px 13px -5px black;
}
.body-login-pagr {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
.main-form-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
#formmy-con {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background:#cff0fc;
    padding: 30px;
    width: 90%;
    max-width: 317px;
    position: relative;
    padding: 0px;
    text-align: center;
}
.card-header-fi {
    padding: 30px 1.25rem;
    padding-bottom: 0;
    margin-bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.03); */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #00afef;
}
.card-header-fi h2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
}
.formp-body-m {
    padding: 32px;
    padding-top: 20px;
}
.formp-body-m label {
    float: left;
}

.customcontrolche {
    height:38px;
    display: flex;
}

.customcontrolche label {
    font-size: 14px;
    margin: -4px;
    padding-left: 15px;
}
.my-sign-pa label{
 padding: 0;
}
#form-mt-footer {
    /* background-color: var(--darkblue); */
    border-top: 3px solid #8a7d725c;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.lo-color-m{
    color:var(--darkblue);
}
.lo-color-m:hover{
    color:var(--orange-hover);
}
.my-sign-up a{
 width:100%;
 background: #00afef!important;
 border-color: #00afef!important;
}
.my-sign-up a:hover{
 width:100%;
 background: #f58634!important;
 border-color: #f58634!important;
}
.mybutton-login span a{
  background:var(--darkblue);
  border-color:var(--darkblue);  
}
.mybutton-login span a:hover{
  background:var(--orange-hover);
  border-color:var(--orange-hover);  
}
.costomer-lo-b span a{
 background:var(--darkblue);
  border-color:var(--darkblue);  
}
.costomer-lo-b span a:hover{
  background:var(--orange-hover);
  border-color:var(--orange-hover);  
}
.my-btn-co a {
    color:var(--darkblue);
    font-size: 16px;
}
.faq-hedding input {
    color: white;
    width: 100%;
    border: none;
    outline: none;
    color: black;
    padding-left: 17px;
    border-radius: 27px;
    height: 44px;
    margin-top: 33px;
    margin-bottom: 18px;
}
.faq-hedding {
    width: 100%;
    background: #00afefb0;
}
.faq-hedding h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: josefin sans,sans-serif;
}
.color-input-ti{
    color:white!important;
}

/*////cosmerlogin//*/
.costmer-login-page-my {
   background: #00afef03;
}
.login-costmer-content {
    padding: 50px;
    padding-left: 0;
    position:relative;
}
.lotgin-costmer-h2 h2 {
    font-size: 56px;
    font-weight: 600;
    color: #554c4c;
}
.login-costmer-content p {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 600;
    color: grey;
}
.login-costmer-content p span{
  color:var(--darkblue);
}
.login-costmer-right-form {
    padding: 1rem;
    padding-top: 47px;
    padding-right: 0;
}
.form-controllrt-m {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #495057;
    background-color: #00afef0a;
    background-clip: padding-box;
    border: 1px solid #e7eced;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-controllrt-m2 {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
   padding: 1.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    line-height: 1.5;
    margin-bottom:0px;
    color: #495057;
    background-color: #00afef0a;
    background-clip: padding-box;
    border: 1px solid #e7eced;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.lable-login-costmer {
    text-align: right;
    width: 100%;
    color: grey;
}
.login-costmer-button {
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    background: var(--darkblue);
    border: var(--darkblue);
    margin-top: 17px;
}
.login-costmer-button:hover{
    border:var(--orange-hover);
    background:var(--orange-hover);
}
.img-banner-costmer {
    width: 200px;
    height: 228px;
    position: absolute;
    top: 76px;
    right: 0;
}
.img-banner-costmer img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.signup-costmer-button{
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    background: var(--darkblue);
    border: var(--darkblue);
    margin-top:29px;
}
.signup-costmer-button:hover{
    border:var(--orange-hover);
    background:var(--orange-hover);
}
.slider-main-inpu-fa{
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 3rem;
}